    <form method="POST">
      <label for="size">Taille de l'image:</label>
      <input type="number" id="size" name="size" value="256" min="32" max="512"><br><br>
      <label for="color">Couleur:</label>
      <select id="color" name="color">
        <option value="random">Aléatoire</option>
        <option value="red">Rouge</option>
        <option value="green">Vert</option>
        <option value="blue">Bleu</option>
      </select><br><br>
      <button type="submit">Générer l'image</button>
    </form>
    {% if img_data %}
    <div class="result">
      <img src="data:image/png;base64,{{ img_data }}" alt="Image générée">
    </div>
    {% endif %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
